# Игнорируем .env файл, чтобы не коммитить секреты
.env

# Лог файлы
*.log

# Директории, которые содержат временные файлы
__pycache__/
*.pyc
*.pyo

# Системные файлы операционной системы
.DS_Store
Thumbs.db

# Папки виртуальных окружений
venv/
env/

# Папка с результатами сборки
build/
dist/
*.egg-info/

# Папки и файлы для IDE (например, VSCode, PyCharm и другие)
.vscode/
.idea/

# Папка для зависимостей Python
*.egg
